<!-- <form class="list " ng-submit="saveOutfit()"> -->
<label class="item item-input " for="description" name="description">
    <span class="input-label">Outfit description</span>
    <input type="text" id="description" ng-model="outfit.description">
</label>
<label class="item item-input " for="date" name="date">
    <span class="input-label">Date</span>
    <input type="date" id="date" ng-model="outfit.date">
</label>
<button type="submit" class=" button button-positive  button-block ">Save</button>
<!-- </form> -->
