<ion-view title="Intro" id="page1" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="intro-heading1" style="color:#000000;text-align:center;" class=" ">What I Wore</h1>
        <!-- <a href="#" onclick="window.open('/login', '_system', 'location=yes'); return false;" id="intro-button1" class=" button button-positive  button-block ">Login</a> -->
        <a ng-href="#/login" id="intro-button1" class=" button button-positive  button-block ">Login</a>
        <a ng-href="#/signup" id="intro-button2" class=" button button-positive  button-block ">Sign Up</a>
        <h3>Derek Made this</h3>
    </ion-content>
</ion-view>
