<ion-view title="Intro" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 style="color:#000000;text-align:center;">What I Wore</h1>
        <!-- <a href="#" onclick="window.open('/login', '_system', 'location=yes'); return false;" id="intro-button1" class=" button button-positive  button-block ">Login</a> -->
        <a ng-href="#/login" class=" button button-positive  button-block ">Login</a>
        <a ng-href="#/signup" class=" button button-positive  button-block ">Sign Up</a>
    </ion-content>
</ion-view>
