<ion-view title="Signup">
    <ion-content padding="true" class="has-header">
        <form class="list " ng-submit="userSignup()">
            <ion-list id="signup-list">
                <label class="item item-input " for="email" name="email">
                  <span class="input-label">Email</span>
                  <input type="email" id="email" ng-model="user.email">
                </label>
                <label class="item item-input " for="password" name="password">
                  <span class="input-label">Password</span>
                  <input type="password" id="password" ng-model="user.password">
                </label>
            </ion-list>
            <button id="signup-button" class=" button button-stable  button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>
